body {
    font-family: var(-font--family);
    margin: 0;
    padding: 0;
}

.gradient-text {
    background: linear-gradient(to right, var(--primary-color), rgb(43, 196, 233));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}